.news{
	border-bottom: 1px solid #209db3 !important;
	padding: 10px 5px  !important ;
	margin: 5px auto  !important;
	width: 95%  !important;
	height: 300px  !important;

}


.news .entry-desc{
	font-size: 13px  !important;
}